<a href="https://colab.research.google.com/github/DominikaDomka/datasciencecoursera/blob/main/Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables

In [ ]:
print('--------------------------------------------------')

## Operators on strings

In Python, the `*` and `+` operators are defined for strings.

*Find out what they do.*

In [ ]:
test_string = "Lorem ipsum"

# Your code here

*Using the [`print`](https://docs.python.org/3/library/functions.html#print) function, display a line of 50 dashes, like this one:*

```
--------------------------------------------------
```

In [ ]:
print('--------------------------------------------------')

### Solution

In [ ]:
print("-" * 50)

## Predicting the result of operations

Without executing the code, try to predict the result of those operations:

1. `(1 + 2) ** 3`
2. `"Da" * 4`
3. `"Da" + 3`
4. `("Pa" + "La") * 2`
5. `("Da" * 4) / 2`
6. `"Da" + "3"`
7. `5 / 2`
8. `5 // 2`
9. `5 % 2`

Your answer here:

1. 27
2. DaDaDaDa
3. error
4. PaLaPaLa
5. error
6. Da3
7. 2.5
8. 2
9. 1

### Solution

In [ ]:
print((1 + 2) ** 3)
print("Da" * 4)
# print("Da" + 3) would produce:
# TypeError: must be str, not int
print(("Pa" + "La") * 2)
# print(("Da" * 4) / 2) would produce:
# TypeError: unsupported operand type(s) for /: 'str' and 'int'  
print("Da" + "3")
print(5 / 2)
print(5 // 2)
print(5 % 2)

In [ ]:
print(5 % 2)

In [ ]:
print("Da" + "3")

## Predicting the result of operations with type conversion

Without executing the code, try to predict the result of those operations:

1. `str(4) * int("3")`
2. `int("3") * str(4)`
3. `int("3") + float("3.2")`
4. `str(4) * float(3)`
5. `str(3 / 4) * 2`
6. `str(42) * bool(42)`
7. `bool(0) * str(42)`

In [ ]:
print(bool(0) * str(42))

Your answer here:

1. 444
2. 444
3. 6.2
4. 
5. 0.750.75
6. 42
7. error

### Solution

In [ ]:
print(str(4) * int("3"))
print(int("3") * str(4))
print(int("3") + float("3.2"))
# print(str(4) * float(3)) would produce :
# TypeError: can't multiply sequence by non-int of type 'float'
print(str(3 / 4) * 2)
print(str(42) * bool(42))
print(bool(0) * str(42))

In [ ]:
print(str(3 / 4) * 2)